In [7]:
import pandas as pd
data = 'kaggle_survey_2020_responses.csv'
data = pd.read_csv(data)
data.head()
# Remove row 0
data = data.iloc[1:]

/tmp/ipykernel_26365/3033700160.py:3: DtypeWarning: Columns (0,18,31,45,50,63,80,92,99,105,130,171,187,241,254,266,278,289,307,322,330,342,353) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data)

In [8]:
pd.set_option('display.max_rows', None)
na_counts = data.isna().sum()
print(na_counts)

Time from Start to Finish (seconds)        0
Q1                                         0
Q2                                         0
Q3                                         0
Q4                                       467
Q5                                       759
Q6                                       916
Q7_Part_1                               4506
Q7_Part_2                              15759
Q7_Part_3                              12501
Q7_Part_4                              16721
Q7_Part_5                              16209
Q7_Part_6                              16669
Q7_Part_7                              17041
Q7_Part_8                              19774
Q7_Part_9                              19838
Q7_Part_10                             18260
Q7_Part_11                             17819
Q7_Part_12                             20036
Q7_OTHER                               18091
Q8                                      2296
Q9_Part_1                               8825
Q9_Part_2                              16210
Q9_Part_3                              17591
Q9_Part_4                              14163
Q9_Part_5                              14937
Q9_Part_6                              16746
Q9_Part_7                              16904
Q9_Part_8                              17584
Q9_Part_9                              18534
Q9_Part_10                             18432
Q9_Part_11                             20036
Q9_OTHER                               18874
Q10_Part_1                             14044
Q10_Part_2                             13707
Q10_Part_3                             19179
Q10_Part_4                             19856
Q10_Part_5                             17964
Q10_Part_6                             19931
Q10_Part_7                             19190
Q10_Part_8                             19539
Q10_Part_9                             19791
Q10_Part_10                            18818
Q10_Part_11                            18805
Q10_Part_12                            19642
Q10_Part_13                            20036
Q10_OTHER                              19551
Q11                                     3299
Q12_Part_1                             11726
Q12_Part_2                             19076
Q12_Part_3                             20036
Q12_OTHER                              19370
Q13                                     3256
Q14_Part_1                              7694
Q14_Part_2                             11215
Q14_Part_3                             15906
Q14_Part_4                             15916
Q14_Part_5                             18899
Q14_Part_6                             19207
Q14_Part_7                             19803
Q14_Part_8                             19116
Q14_Part_9                             19186
Q14_Part_10                            19440
Q14_Part_11                            20036
Q14_OTHER                              19471
Q15                                     3662
Q16_Part_1                              9786
Q16_Part_2                             13102
Q16_Part_3                             13844
Q16_Part_4                             15847
Q16_Part_5                             19294
Q16_Part_6                             19818
Q16_Part_7                             16101
Q16_Part_8                             18237
Q16_Part_9                             19079
Q16_Part_10                            19504
Q16_Part_11                            19692
Q16_Part_12                            19097
Q16_Part_13                            19552
Q16_Part_14                            19952
Q16_Part_15                            20036
Q16_OTHER                              19665
Q17_Part_1                              9476
Q17_Part_2                             11232
Q17_Part_3                             14902
Q17_Part_4                             16389
Q17_Part_5                             19305
Q17_Part_6                             16672
Q17_Part_7                             14177
Q17_Part_8                             19012
Q17_Part_9                             16568
Q17_Part_10                            18738
Q17_Part_11                            20036
Q17_OTHER                              19626
Q18_Part_1                             17897
Q18_Part_2                             18033
Q18_Part_3                             17957
Q18_Part_4                             16524
Q18_Part_5                             18944
Q18_Part_6                             20036
Q18_OTHER                              19965
Q19_Part_1                             17926
Q19_Part_2                             18522
Q19_Part_3                             19479
Q19_Part_4                             18608
Q19_Part_5                             20036
Q19_OTHER                              19954
Q20                                     8633
Q21                                     8754
Q22                                     8906
Q23_Part_1                             13615
Q23_Part_2                             16716
Q23_Part_3                             16029
Q23_Part_4                             17311
Q23_Part_5                             16917
Q23_Part_6                             17697
Q23_Part_7                             18283
Q23_OTHER                              19514
Q24                                     9307
Q25                                     9466
Q26_A_Part_1                           17230
Q26_A_Part_2                           18331
Q26_A_Part_3                           17750
Q26_A_Part_4                           19595
Q26_A_Part_5                           19750
Q26_A_Part_6                           19867
Q26_A_Part_7                           19844
Q26_A_Part_8                           19788
Q26_A_Part_9                           19921
Q26_A_Part_10                          19960
Q26_A_Part_11                          20036
Q26_A_OTHER                            19791
Q27_A_Part_1                           18385
Q27_A_Part_2                           19087
Q27_A_Part_3                           19421
Q27_A_Part_4                           19180
Q27_A_Part_5                           19531
Q27_A_Part_6                           19574
Q27_A_Part_7                           19021
Q27_A_Part_8                           19385
Q27_A_Part_9                           19689
Q27_A_Part_10                          19415
Q27_A_Part_11                          18954
Q27_A_OTHER                            19937
Q28_A_Part_1                           19424
Q28_A_Part_2                           19845
Q28_A_Part_3                           19813
Q28_A_Part_4                           19494
Q28_A_Part_5                           19730
Q28_A_Part_6                           19314
Q28_A_Part_7                           19803
Q28_A_Part_8                           19650
Q28_A_Part_9                           19590
Q28_A_Part_10                          17463
Q28_A_OTHER                            19935
Q29_A_Part_1                           17548
Q29_A_Part_2                           18361
Q29_A_Part_3                           18860
Q29_A_Part_4                           19080
Q29_A_Part_5                           18772
Q29_A_Part_6                           19763
Q29_A_Part_7                           19766
Q29_A_Part_8                           18478
Q29_A_Part_9                           19571
Q29_A_Part_10                          19602
Q29_A_Part_11                          19593
Q29_A_Part_12                          19727
Q29_A_Part_13                          19626
Q29_A_Part_14                          19367
Q29_A_Part_15                          19607
Q29_A_Part_16                          19793
Q29_A_Part_17                          20036
Q29_A_OTHER                            19682
Q30                                    16523
Q31_A_Part_1                           19864
Q31_A_Part_2                           18388
Q31_A_Part_3                           19408
Q31_A_Part_4                           19915
Q31_A_Part_5                           18202
Q31_A_Part_6                           19766
Q31_A_Part_7                           19964
Q31_A_Part_8                           19718
Q31_A_Part_9                           19980
Q31_A_Part_10                          19951
Q31_A_Part_11                          19876
Q31_A_Part_12                          19975
Q31_A_Part_13                          19866
Q31_A_Part_14                          20036
Q31_A_OTHER                            19691
Q32                                    18538
Q33_A_Part_1                           19382
Q33_A_Part_2                           19510
Q33_A_Part_3                           19221
Q33_A_Part_4                           19812
Q33_A_Part_5                           19355
Q33_A_Part_6                           19454
Q33_A_Part_7                           15357
Q33_A_OTHER                            19904
Q34_A_Part_1                           19675
Q34_A_Part_2                           19874
Q34_A_Part_3                           19889
Q34_A_Part_4                           19885
Q34_A_Part_5                           19916
Q34_A_Part_6                           19619
Q34_A_Part_7                           19454
Q34_A_Part_8                           19749
Q34_A_Part_9                           19992
Q34_A_Part_10                          19925
Q34_A_Part_11                          19393
Q34_A_OTHER                            19875
Q35_A_Part_1                           19887
Q35_A_Part_2                           19665
Q35_A_Part_3                           19966
Q35_A_Part_4                           19979
Q35_A_Part_5                           18711
Q35_A_Part_6                           19970
Q35_A_Part_7                           19949
Q35_A_Part_8                           19825
Q35_A_Part_9                           19962
Q35_A_Part_10                          15304
Q35_A_OTHER                            19805
Q36_Part_1                             19809
Q36_Part_2                             19850
Q36_Part_3                             19944
Q36_Part_4                             16602
Q36_Part_5                             19509
Q36_Part_6                             18158
Q36_Part_7                             18789
Q36_Part_8                             19704
Q36_Part_9                             17719
Q36_OTHER                              19827
Q37_Part_1                             12654
Q37_Part_2                             17538
Q37_Part_3                             15193
Q37_Part_4                             17004
Q37_Part_5                             18978
Q37_Part_6                             17980
Q37_Part_7                             15410
Q37_Part_8                             18419
Q37_Part_9                             18960
Q37_Part_10                            16468
Q37_Part_11                            20036
Q37_OTHER                              18400
Q38                                     6746
Q39_Part_1                             17169
Q39_Part_2                             17359
Q39_Part_3                             17895
Q39_Part_4                             12198
Q39_Part_5                             17763
Q39_Part_6                             13133
Q39_Part_7                             18542
Q39_Part_8                             13668
Q39_Part_9                             17386
Q39_Part_10                            18472
Q39_Part_11                            20036
Q39_OTHER                              19561
Q26_B_Part_1                           14800
Q26_B_Part_2                           16257
Q26_B_Part_3                           14890
Q26_B_Part_4                           18290
Q26_B_Part_5                           18976
Q26_B_Part_6                           19457
Q26_B_Part_7                           19555
Q26_B_Part_8                           19622
Q26_B_Part_9                           19612
Q26_B_Part_10                          19732
Q26_B_Part_11                          20036
Q26_B_OTHER                            19873
Q27_B_Part_1                           17660
Q27_B_Part_2                           17537
Q27_B_Part_3                           18352
Q27_B_Part_4                           17548
Q27_B_Part_5                           18195
Q27_B_Part_6                           18253
Q27_B_Part_7                           16784
Q27_B_Part_8                           17386
Q27_B_Part_9                           18064
Q27_B_Part_10                          17574
Q27_B_Part_11                          20036
Q27_B_OTHER                            19935
Q28_B_Part_1                           18334
Q28_B_Part_2                           18393
Q28_B_Part_3                           18637
Q28_B_Part_4                           17596
Q28_B_Part_5                           18643
Q28_B_Part_6                           16654
Q28_B_Part_7                           17993
Q28_B_Part_8                           17279
Q28_B_Part_9                           17198
Q28_B_Part_10                          20036
Q28_B_OTHER                            19948
Q29_B_Part_1                           15935
Q29_B_Part_2                           17900
Q29_B_Part_3                           17934
Q29_B_Part_4                           18526
Q29_B_Part_5                           16972
Q29_B_Part_6                           19339
Q29_B_Part_7                           19290
Q29_B_Part_8                           18072
Q29_B_Part_9                           19186
Q29_B_Part_10                          18877
Q29_B_Part_11                          19169
Q29_B_Part_12                          19344
Q29_B_Part_13                          18964
Q29_B_Part_14                          18182
Q29_B_Part_15                          18011
Q29_B_Part_16                          18950
Q29_B_Part_17                          20036
Q29_B_OTHER                            19866
Q31_B_Part_1                           16893
Q31_B_Part_2                           19130
Q31_B_Part_3                           17447
Q31_B_Part_4                           19750
Q31_B_Part_5                           16294
Q31_B_Part_6                           19217
Q31_B_Part_7                           19480
Q31_B_Part_8                           19459
Q31_B_Part_9                           19855
Q31_B_Part_10                          19855
Q31_B_Part_11                          19693
Q31_B_Part_12                          19833
Q31_B_Part_13                          19030
Q31_B_Part_14                          20036
Q31_B_OTHER                            19856
Q33_B_Part_1                           17608
Q33_B_Part_2                           17496
Q33_B_Part_3                           16762
Q33_B_Part_4                           18526
Q33_B_Part_5                           17639
Q33_B_Part_6                           16875
Q33_B_Part_7                           20036
Q33_B_OTHER                            19848
Q34_B_Part_1                           17557
Q34_B_Part_2                           19177
Q34_B_Part_3                           19235
Q34_B_Part_4                           19203
Q34_B_Part_5                           19590
Q34_B_Part_6                           17652
Q34_B_Part_7                           17284
Q34_B_Part_8                           18688
Q34_B_Part_9                           19721
Q34_B_Part_10                          19329
Q34_B_Part_11                          20036
Q34_B_OTHER                            19843
Q35_B_Part_1                           19101
Q35_B_Part_2                           18859
Q35_B_Part_3                           19542
Q35_B_Part_4                           19606
Q35_B_Part_5                           16837
Q35_B_Part_6                           19479
Q35_B_Part_7                           19556
Q35_B_Part_8                           19190
Q35_B_Part_9                           19517
Q35_B_Part_10                          20036
Q35_B_OTHER                            19785
dtype: int64

In [9]:
# Check for NAs in columns 'Q1' to 'Q6'
na_check = data[['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6']].isna().sum()
print(na_check)
# Remove rows with NAs in Q4, Q5, and Q6
data = data.dropna(subset=['Q4'])
data = data.dropna(subset=['Q5'])
data = data.dropna(subset=['Q6'])
# Display the updated dataframe
data.head()

Q1      0
Q2      0
Q3      0
Q4    467
Q5    759
Q6    916
dtype: int64

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,78,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---Import functions---

In [10]:
from processing_function import *

In [11]:
# Example usage of the functions gcbp and pscti
#Question 7
df = pd.DataFrame(data)
# Specify columns to process
column_names = gcbp(df, "Q7")
# Apply the col_format function
data = col_format(df, column_names)
# Print the updated dataframe
data.head(20)

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,1,1,1,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,78,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,401,30-34,Man,India,Bachelor’s degree,Data Analyst,< 1 years,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,748,22-24,Man,Brazil,Bachelor’s degree,Student,3-5 years,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,171196,25-29,Woman,China,Master’s degree,Student,< 1 years,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,762,35-39,Man,Germany,Doctoral degree,Data Scientist,5-10 years,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,150,22-24,Man,China,No formal education past high school,Student,< 1 years,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7469,18-21,Man,India,Bachelor’s degree,Student,1-2 years,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,742,35-39,Man,United States of America,Doctoral degree,Research Scientist,1-2 years,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,535,22-24,Man,Indonesia,Bachelor’s degree,Student,< 1 years,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,378,30-34,Man,Canada,Bachelor’s degree,Data Engineer,< 1 years,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,623,30-34,Man,Switzerland,Bachelor’s degree,Other,< 1 years,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,413,18-21,Woman,India,Bachelor’s degree,Student,1-2 years,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,397,25-29,Woman,Other,Bachelor’s degree,Currently not employed,3-5 years,0,0,1,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
18,437,22-24,Man,Singapore,Bachelor’s degree,Student,3-5 years,1,0,0,...,NaN,NaN,NaN,TensorBoard,NaN,Polyaxon,NaN,NaN,NaN,NaN
19,192,22-24,Man,India,Bachelor’s degree,Student,1-2 years,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,267,18-21,Man,India,Bachelor’s degree,Student,1-2 years,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
fhelp("gcbp")

gcbp(dataframe, selected_cols, prefix):
  - Lấy tất cả các tên cột bắt đầu bằng tiền tố được chỉ định.
  Ví dụ:
    df = pd.DataFrame(data)
    cols = gcbp(df, 'Q7_Part1', 'Q7')
    print(cols)

In [13]:
# Export the 'data' dataframe to a CSV file
data.to_csv('cleaned-data.csv', index=False)