In [ ]:
import pandas as pd
data = 'kaggle_survey_2020_responses.csv'
data = pd.read_csv(data)
data.head()
# Remove row 0
data = data.iloc[1:]

In [ ]:
pd.set_option('display.max_rows', None)
na_counts = data.isna().sum()
print(na_counts)

In [ ]:
# Check for NAs in columns 'Q1' to 'Q6'
na_check = data[['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6']].isna().sum()
print(na_check)
# Remove rows with NAs in Q4, Q5, and Q6
data = data.dropna(subset=['Q4'])
data = data.dropna(subset=['Q5'])
data = data.dropna(subset=['Q6'])
# Display the updated dataframe
data.head()

---Import functions---

In [ ]:
from processing_function import *
df = pd.DataFrame(data)

In [ ]:
# Ensure columns with underscores are renamed using the rename_col function
Q7_columns = gcbp(df, "Q7_")
df = rename_col(df, Q7_columns, "Q7_")

Q9_columns = gcbp(df, "Q9_")
df = rename_col(df, Q9_columns, "Q9_")

Q10_columns = gcbp(df, "Q10_")
df = rename_col(df, Q10_columns, "Q10_")

Q12_columns = gcbp(df, "Q12_")
df = rename_col(df, Q12_columns, "Q12_")

Q14_columns = gcbp(df, "Q14_")
df = rename_col(df, Q14_columns, "Q14_")

Q16_columns = gcbp(df, "Q16_")
df = rename_col(df, Q16_columns, "Q16_")

Q17_columns = gcbp(df, "Q17_")
df = rename_col(df, Q17_columns, "Q17_")

Q18_columns = gcbp(df, "Q18_")
df = rename_col(df, Q18_columns, "Q18_")

Q19_columns = gcbp(df, "Q19_")
df = rename_col(df, Q19_columns, "Q19_")

Q23_columns = gcbp(df, "Q23_")
df = rename_col(df, Q23_columns, "Q23_")

Q26_A_columns = gcbp(df, "Q26_A_")
df = rename_col(df, Q26_A_columns, "Q26_A_")

Q27_A_columns = gcbp(df, "Q27_A_")
df = rename_col(df, Q27_A_columns, "Q27_A_")

Q28_A_columns = gcbp(df, "Q28_A_")
df = rename_col(df, Q28_A_columns, "Q28_A_")

Q29_A_columns = gcbp(df, "Q29_A_")
df = rename_col(df, Q29_A_columns, "Q29_A_")

Q31_A_columns = gcbp(df, "Q31_A_")
df = rename_col(df, Q31_A_columns, "Q31_A_")

Q33_A_columns = gcbp(df, "Q33_A_")
df = rename_col(df, Q33_A_columns, "Q33_A_")

Q34_A_columns = gcbp(df, "Q34_A_")
df = rename_col(df, Q34_A_columns, "Q34_A_")

Q35_A_columns = gcbp(df, "Q35_A_")
df = rename_col(df, Q35_A_columns, "Q35_A_")

Q36_columns = gcbp(df, "Q36_")
df = rename_col(df, Q36_columns, "Q36_")

Q37_columns = gcbp(df, "Q37_")
df = rename_col(df, Q37_columns, "Q37_")

Q39_columns = gcbp(df, "Q39_")
df = rename_col(df, Q39_columns, "Q39_")

Q26_B_columns = gcbp(df, "Q26_B_")
df = rename_col(df, Q26_B_columns, "Q26_B_")

Q27_B_columns = gcbp(df, "Q27_B_")
df = rename_col(df, Q27_B_columns, "Q27_B_")

Q28_B_columns = gcbp(df, "Q28_B_")
df = rename_col(df, Q28_B_columns, "Q28_B_")

Q29_B_columns = gcbp(df, "Q29_B_")
df = rename_col(df, Q29_B_columns, "Q29_B_")

Q31_B_columns = gcbp(df, "Q31_B_")
df = rename_col(df, Q31_B_columns, "Q31_B_")

Q33_B_columns = gcbp(df, "Q33_B_")
df = rename_col(df, Q33_B_columns, "Q33_B_")

Q34_B_columns = gcbp(df, "Q34_B_")
df = rename_col(df, Q34_B_columns, "Q34_B_")

Q35_B_columns = gcbp(df, "Q35_B_")
df = rename_col(df, Q35_B_columns, "Q35_B_")

In [ ]:
fhelp("gcbp")

In [ ]:
questions = [
    "Q7", "Q9", "Q10", "Q12", "Q14", "Q16", "Q17", "Q18", "Q19", "Q23", 
    "Q26_A", "Q27_A", "Q28_A", "Q29_A", "Q31_A", "Q33_A", "Q34_A", "Q35_A", 
    "Q36", "Q37", "Q39", "Q26_B", "Q27_B", "Q28_B", "Q29_B", "Q31_B", 
    "Q33_B", "Q34_B", "Q35_B"
]

for question in questions:
    column_names = gcbp(df, question)
    data = col_format(df, column_names)

data.head(20)

In [ ]:
na_counts_all = df.isna().sum()
print(na_counts_all)

In [ ]:
replace_na(data, 'Q8', 'None')
print(data['Q8'].unique())

In [ ]:
replace_na(data, 'Q24', 'Unknown')
print(data['Q24'].unique())

In [ ]:
replace_na(data, 'Q25', 'Unknown')
print(data['Q25'].unique())

In [ ]:
replace_na(data, 'Q11', 'Other')
print(data['Q11'].unique())

In [ ]:
replace_na(data, 'Q13', 'Never')
print(data['Q13'].unique())

In [ ]:
replace_na(data, 'Q15', 'I do not use machine learning methods')
print(data['Q15'].unique())

In [ ]:
replace_na(data, 'Q38', 'I do not use machine learning methods')
print(data['Q38'].unique())

In [ ]:
replace_na(data, 'Q20', '0-49 employees')
print(data['Q20'].unique())

In [ ]:
replace_na(data, 'Q21', 0)
print(data['Q21'].unique())

In [ ]:
replace_na(data, 'Q22', 'I do not know')
print(data['Q22'].unique())

In [ ]:
for column in ['Q30', 'Q32']:
	replace_na(data, column, 'Not questioned')
print(data['Q30'].unique())
print(data['Q32'].unique())

In [ ]:
na_counts_all = df.isna().sum()
print(na_counts_all)

In [ ]:
add_sum_col(df, gcbp(df, "Q7"),'Q7Total')
add_sum_col(df, gcbp(df, "Q9"), 'Q9Total')
add_sum_col(df, gcbp(df, "Q10"), 'Q10Total')
add_sum_col(df, gcbp(df, "Q12"), 'Q12Total')
add_sum_col(df, gcbp(df, "Q14"), 'Q14Total')
add_sum_col(df, gcbp(df, "Q16"), 'Q16Total')
add_sum_col(df, gcbp(df, "Q17"), 'Q17Total')
add_sum_col(df, gcbp(df, "Q18"), 'Q18Total')
add_sum_col(df, gcbp(df, "Q19"), 'Q19Total')
add_sum_col(df, gcbp(df, "Q23"), 'Q23Total')
add_sum_col(df, gcbp(df, "Q26_A"), 'Q26_ATotal')
add_sum_col(df, gcbp(df, "Q27_A"), 'Q27_ATotal')
add_sum_col(df, gcbp(df, "Q28_A"), 'Q28_ATotal')
add_sum_col(df, gcbp(df, "Q29_A"), 'Q29_ATotal')
add_sum_col(df, gcbp(df, "Q31_A"), 'Q31_ATotal')
add_sum_col(df, gcbp(df, "Q33_A"), 'Q33_ATotal')
add_sum_col(df, gcbp(df, "Q34_A"), 'Q34_ATotal')
add_sum_col(df, gcbp(df, "Q35_A"), 'Q35_ATotal')
add_sum_col(df, gcbp(df, "Q36"), 'Q36Total')
add_sum_col(df, gcbp(df, "Q37"), 'Q37Total')
add_sum_col(df, gcbp(df, "Q39"), 'Q39Total')
add_sum_col(df, gcbp(df, "Q26_B"), 'Q26_BTotal')
add_sum_col(df, gcbp(df, "Q27_B"), 'Q27_BTotal')
add_sum_col(df, gcbp(df, "Q28_B"), 'Q28_BTotal')
add_sum_col(df, gcbp(df, "Q29_B"), 'Q29_BTotal')
add_sum_col(df, gcbp(df, "Q31_B"), 'Q31_BTotal')
add_sum_col(df, gcbp(df, "Q33_B"), 'Q33_BTotal')
add_sum_col(df, gcbp(df, "Q34_B"), 'Q34_BTotal')
add_sum_col(df, gcbp(df, "Q35_B"), 'Q35_BTotal')

In [ ]:
df.loc[df['Q29_ATotal'] <= 1, 'Q30'] = 'Not Questioned'
df.loc[df['Q31_ATotal'] <= 1, 'Q32'] = 'Not Questioned'

In [ ]:
data.to_csv('cleaned-data.csv', index=False)